* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
p {
  margin-block: 0;
}

.fixed {
  position: fixed;
  font-weight: 600;
  color: #ff0000;
  font-size: 1.5rem;
  &-a {
    bottom: 2rem;
    right: 2rem;
  }
  &-b {
    top: 2rem;
    left: 2rem;
  }
}

.sticky {
  position: sticky;
  width: 100%;
  height: 15rem;
  background-color: aqua;
  // sticky를 만들어주고 기준을 세워줘야 함
  &-a {
    top: 2rem;
  }
}

.container {
  max-width: 60rem;
  margin-inline: auto;
  padding-block: 2.5rem;
  padding-inline: 5rem;
  background-color: oklch(0.95 0 0);
}
