* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
}

h1,
h2 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin-inline: auto;
  background-color: oklch(90% 0 0);
  padding-inline: 2.5rem;
}

.container > div {
  padding: 1rem;
}

.container > div:nth-child(1) {
  background-color: oklch(90% 0.05 0);
  border: 1px dotted oklch(40% 0.05 0);
  color: oklch(20% 0.05 0);
}
.container > div:nth-child(2) {
  background-color: oklch(90% 0.05 40);
  border: 1px dotted oklch(40% 0.05 40);
  color: oklch(20% 0.05 40);
}
.container > div:nth-child(3) {
  background-color: oklch(90% 0.05 80);
  border: 1px dotted oklch(40% 0.05 80);
  color: oklch(20% 0.05 80);
}
.container > div:nth-child(4) {
  background-color: oklch(90% 0.05 120);
  border: 1px dotted oklch(40% 0.05 120);
  color: oklch(20% 0.05 120);
}
.container > div:nth-child(5) {
  background-color: oklch(90% 0.05 160);
  border: 1px dotted oklch(40% 0.05 160);
  color: oklch(20% 0.05 160);
}

.flex-container {
  display: flex;
}

.flex-child-opt-1 {
  flex-grow: 1;
}
/* grow 기본값 0 */
/* shrink 기본값 1
(비율 같이 움직임. 만약 2를 주었을 때 다른 flex아이들보다 2배로 빠르게 줄어듦.) 따로 주는 경우는 많지 않다. */

/* 실 사용 예 */
/* .flex-container > * { */
/* flex-grow: 1; */
/* } */
/*  */
/* CSS는 각 줄마다 각주처리를 하는 것 권장 */

.flex-child-opt-2 {
  flex-basis: 0;
  flex-grow: 1;
}

.flex-container-opt-1 {
  /* gap: 1rem; */
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.flex-container-opt-2 {
  /* justify-content: left; */
  /* justify-content: right; */
  /* justify-content: center; */
  justify-content: space-evenly;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
}
/* space-evenly 1-1-1-1-1 */
/* space-between 0-1-1-1-0 */
/* space-around 1-2-2-2-1 */

.flex-container-opt-3 {
  /* align-items: start; */
  /* align-items: end; */
  align-items: center;
}
/* align-items: stretch는 기본 옵션 */

.flex-container-opt-4 {
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.flex-container-opt-4 > * {
  width: 7.5rem;
  /* flex-basis: 7.5rem; */
}

.flex-wrap {
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  row-gap: 24px;
}

.flex-wrap-opt-1 > * {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 10rem;
  /* grow 1, basis 0 으로 넣으면 균등하게 됨 */
}
